@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@500&family=Montserrat:wght@400;500;600&display=swap");

:root {
    --header-height: 3.5rem;

    --text-color: hsl(230, 16%, 45%);
    --body-color: hsl(230, 100%, 96%);
    --border-color: hsl(230, 50%, 90%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(230, 100%, 96%);
    --container-color: hsl(230, 100%, 97%);

    --body-font: "Montserrat", sans-serif;
    --second-font: "Montagu Slab", serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1150px) {
    :root {
      --biggest-font-size: 3.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background-color .4s;
    margin-bottom: 5rem;
    text-decoration: none;
}

.container {
    max-width: 1220px;
    margin-inline: 1.5rem;
}
  
.grid {
    display: grid;
    gap: 1.5rem;
}
  
.section {
    padding-block: 2rem 1rem;
}

a {
    text-decoration: none;
}

ul {
    text-decoration: none;
}

.main {
    overflow-y: scroll;
}

.header {
    background: url(Images/electralink.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 70%;
    height: 0vh;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: box-shadow 0.4s, background-color 0.4s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    text-align: center;
    column-gap: 0.5rem;    
    font-weight: var(--font-medium);
}

.nav_logo .electricpe {
    margin-top: 3rem;
    margin-left: 1.2rem;
    color: rgb(73, 241, 73);
    font-size: 2rem;
}

.nav_logo p {
    margin-top: 3rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.nav_logo .pe {
    margin-top: 3rem;
    color: rgb(73, 241, 73);
    font-size: 2rem;
    font-weight: bold;
}


@media screen and (max-width: 1150px) {
    .nav_menu {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: var(--container-color);
        box-shadow: 0 -8px 32px hsla(0, 0%, 0%, 0.1);
        padding: 1.25rem 4rem;
        transition: background-color 0.4s;
    }
}

.nav_list {
    display: flex;
    justify-content: space-between;
}

.nav_link {
    color: black;
    transition: color 0.4s;
}

.nav_link span {
    display: none;
}

.nav_link i {
    font-size: 1.25rem;
}

.nav_link:hover {
    color: rgb(73, 241, 73);
    transition: 0.4s all ease;
}

.nav_action {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.nav_action i {
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color 0.4s;
}

.nav_action i:hover {
    color: rgb(73, 241, 73);
}


.title {
    text-align: center;
    color: white;
    font-size: 1rem;
    margin-top: 2rem;
}

.content {
    text-align: center;
    color: white;
    font-size: 0.6rem;
    margin-top: 0.85rem;
}

.button {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    font-size: 10px;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid rgb(73, 241, 73);
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(73, 241, 73);
    transition: 0.4s all ease;
}

.about_data .about_title {
    position: relative;
    margin-top: 5rem;
    text-align: center;
    color: black;
    font-weight: bold;
}

.about_data img {
    width: 100px;
    float: right;
    position: relative;
}

.about_data p {
    margin-top: 2rem;
    color: var(--text-color);
    padding: 10px 24px;
    font-size: 12px;
}

.info {
    position: relative;
    padding-block: 3rem;
}

.info_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;    
}

.info_data {
    position: relative;
    color: white;
}

.info_data p {
    color: white;
}


@media screen and (max-width: 320px) {
    .container {
        margin-inline: 1rem;
    } 

    .nav_menu {
        padding-inline: 3rem;
    }
}

@media screen and (min-width: 576px) {
    .nav_menu {
        width: 380px;
        margin-inline: auto;
    }
}

@media screen and (min-width: 1150px) {
    .section {
        padding-block: 5rem 2rem;
    } 

    .header {
        background: url(Images/electralink.png);
        background-size: cover;
        height: 90vh;
        padding-bottom: 30%;
    }

    .nav {
        height: calc(var(--header-height) + 2rem);
        column-gap: 4rem;
    }

    .nav_logo .electricpe {
        margin-top: 1rem;
    }

    .nav_logo p {
        margin-top: 1rem;
    }

    .nav_logo .pe {
        margin-top: 1rem;
    }

    .nav_link i {
        display: none;
    }

    .nav_link span {
        display: block;
    }

    .nav_menu {
        width: initial;
        margin-inline: auto 0;
    }

    .nav_list {
        column-gap: 4rem;
    }

    .nav_link {
        font-weight: var(--font-medium);
        color: white;
    }

    .title {
        text-align: center;
        color: white;
        font-size: 2rem;
        margin-top: 2rem;
    }
    
    .content {
        text-align: center;
        color: white;
        font-size: 1.2rem;
        margin-top: 0.85rem;
    }

    .buttons {
        text-align: center;
    }

    .button {
        display: inline-block;
        margin-top: 1rem;
        font-size: 20px;
        padding: 14px 20px;
        border-radius: 5px;
        border: 1px solid rgb(73, 241, 73);
        background-color: transparent;
        color: white;
        cursor: pointer;
    }

    .about_title {
        font-size: 45px;
        margin-bottom: 3rem;
    }

    .about_data img {
        width: 400px;
        float: left;
        position: relative;
        margin-bottom: 4rem;
    }
    
    .about_data p {
        margin-top: 4rem;
        margin-bottom: 4rem;
        color: var(--text-color);
        padding: 10px 24px;
        font-size: 23px;
        text-align: right;
        right: 45%;
    }

    .info_img {
        object-position: 0 -5rem;
    }

    .info_title {
        font-size: 40px;
        font-weight: bolder;
        margin-top: -2rem;
        margin-bottom: 2rem;
    }

    .info_data p {
        text-align: left;
        font-size: 30px;
    }
}

@media screen and (min-width: 1220px) {
    .container {
        margin-inline: auto;
    }

    .header {
        background: url(Images/electralink.png);
        background-size: cover;
        background-position: center;
    }

    .nav_logo {
        text-decoration: none;
        display: inline-flex;
        column-gap: 0.5rem;    
        font-weight: var(--font-medium);
    }
    
    .nav_logo .electricpe {
        margin-top: 3rem;
        margin-left: 0.75rem;
        color: rgb(73, 241, 73);
        font-size: 3rem;
    }
    
    .nav_logo p {
        margin-top: 3rem;
        color: white;
        font-size: 3rem;
        font-weight: bold;
    }
    
    .nav_logo .pe {
        margin-top: 3rem;
        color: rgb(73, 241, 73);
        font-size: 3rem;
        font-weight: bold;
    }

    .nav_link {
        color: white;
        transition: color 0.4s;
    }

    .title {
        margin-top: 4rem;
    }

    .about_data img {
        width: 400px;
        float: left;
        left: -5%;
        position: relative;
        margin-bottom: 4rem;
    }
    
    .about_data p {
        margin-top: 4rem;
        margin-bottom: 4rem;
        color: var(--text-color);
        padding: 10px 24px;
        font-size: 23px;
        text-align: right;
        left: 5%;
    }
}

.button {
    background-color: green;
    color: white;
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Adjust font size as needed */
}

.button:hover {
    background-color: darkgreen; /* Change color on hover if desired */
}

.card-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.card p {
    font-size: 16px;
}
